<h2>Regular Expression</h2>
<div>
    <label>Enter the string</label>
    <input type="text" placeholder="input" (keyup)="addInput($event)"><br>
    <button type="button" (click)="resultCalculate()">CLICK</button>
    <h4>Result:</h4>
    
    <h5>RE(/[e]/)        => {{out1}}</h5>
    <h5>RE(/[a-z]/)      => {{out2}}</h5>
    <h5>RE(/[a-z]/g)     => {{out3}}</h5>
    <h5>RE(/[a-z]/i)     => {{out4}}</h5>
    <h5>RE(/[a-z]/gi)    => {{out5}}</h5>
    <h5>RE(/[A-Z]/g)     => {{out6}}</h5>
    <h5>RE(/[a-z][A-Z]/) => {{out7}}</h5>
    <h5>RE(/[^A-Z]/)     => {{out8}}</h5>
    <h5>RE(/[^a-zA-Z]/)  => {{out9}}</h5>
    <h5>RE(/[^a-zA-Z]/g) => {{out10}}</h5>
    <h5>RE(/[0-9]/)      => {{out11}}</h5>
    <h5>RE(/[0-9]/g)     => {{out12}}</h5>
    <h5>RE(/[^0-9]/)     => {{out13}}</h5>
    <h5>RE(/[A-Z0-9]/g)  => {{out14}}</h5>
    <h5>RE(/[a-z0-9]/g)  => {{out15}}</h5>
    




</div>
